<ion-header>
  <ion-toolbar style="--background: #f6cc26;">
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-text-center" style="--background: #1a4066;">
  <br>
  <ion-card shape="round">
    <br>
    <ion-avatar>
      <img src="assets/a.jpg"/> 
    </ion-avatar>

    <ion-button color="warning" class="photo-btn" size="small" shape="round">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>

    <ion-card class="ion-text-center" style="max-width: 350px; margin: 0 auto; padding: 20px;">
      <h3 style="color: #1a4066; font-weight: bold; margin-bottom: 20px;">Datos del Usuario</h3>
      
      <!-- Datos del usuario dentro de un ion-card -->
      <div style="color: #0d3873; font-size: 16px; margin-bottom: 5px;"><strong>Rol:</strong> {{ usuario.rol }}</div>
      <div style="color: #0d3873; font-size: 16px; margin-bottom: 5px;"><strong>Apellido:</strong> {{ usuario.apellido }}</div>
      <div style="color: #0d3873; font-size: 16px; margin-bottom: 5px;"><strong>Nombre de Usuario:</strong> {{ usuario.nombre }}</div>
      <div style="color: #0d3873; font-size: 16px; margin-bottom: 5px;"><strong>Correo:</strong> {{ usuario.correo }}</div>
      <div style="color: #0d3873; font-size: 16px; margin-bottom: 5px;">{{ usuario.password }}</div>
    </ion-card>

   </ion-card>
  


  <ion-card>
    <ion-item button (click)="logout()" color="warning">
      <ion-label>Cerrar Sesión</ion-label> 
      <ion-icon name="log-out"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- Botón "Atrás" en la esquina superior izquierda -->
  <ion-button fill="clear" color="warning" (click)="goBack()" style="position: fixed; top: 60px; left: 10px;">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Atrás
  </ion-button>
</ion-content>
