<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>

<div class="flex-center">
<ion-card>
  <ion-card-header>
    <ion-card-title>ESCANEAR CÓDIGO</ion-card-title>
  
  </ion-card-header>

  <ion-card-content>
    <ion-button color="warning" size="full" routerLink="/codigo">ESCANEAR</ion-button>
  </ion-card-content>

</ion-card>

