<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
  </div>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reportar un problema en la Aplicación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Cuéntanos tu problema</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button  color="warning" size="full" routerLink="/inicio">
        Enviar respuesta
      </ion-button>
    </ion-card>
  </div>
</ion-content>