<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="background">
  </div>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="warning">¡Operaciones relizadas con éxito!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Su registro de asistencia fue ejecutado exitosamente el dia [INSERTE DÍA] a las [INSERTE HORA] en la asignatura [INSERTE ASIGNATURA].
        </p>
        <ion-button color="warning" routerLink="/inicio">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <span>Volver al Inicio</span>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
