<ion-toolbar>
  <ion-title>RegistrAPP</ion-title>
</ion-toolbar>
<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="warning">Inicio Sesión</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-item>
              <ion-label position="floating">Correo Institucional</ion-label>
              <ion-input type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full">¿Olvidó Contraseña?</ion-button>
        <ion-button color="warning"  size="full">Entrar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>