<ion-app>
  <!-- Menu del profesor -->
  <ion-menu contentId="main-content" *ngIf="isTeacher">
    <ion-header>
      <ion-toolbar style="--background: #f6cc26;">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="--background: #1a4066;">
      <ion-list>
        <ion-item button routerLink="/asignaturas">
          <ion-label>Asignaturas</ion-label>
          <ion-icon name="library"></ion-icon>
        </ion-item>
        <ion-item button routerLink="/reportar">
          <ion-label>Reportar un problema</ion-label>
          <ion-icon name="alert-circle"></ion-icon>
        </ion-item>
        <!-- Cerrar sesión -->
        <ion-item button (click)="logout()">
          <ion-label>Cerrar sesión</ion-label>
          <ion-icon name="log-out"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Menu del alumno -->
  <ion-menu contentId="main-content" *ngIf="!isTeacher">
    <ion-header>
      <ion-toolbar style="--background: #f6cc26;">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="--background: #1a4066;">
      <ion-list>
        <ion-item button routerLink="/asistencia">
          <ion-label>Ver asistencia</ion-label>
          <ion-icon name="today"></ion-icon>
        </ion-item>
        <ion-item button routerLink="/reportar">
          <ion-label>Reportar Problema</ion-label>
          <ion-icon name="alert-circle"></ion-icon>
        </ion-item>
        <!-- Cerrar sesión -->
        <ion-item button (click)="logout()">
          <ion-label>Cerrar sesión</ion-label>
          <ion-icon name="log-out"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
