
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="--background: #f6cc26;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> RegistrAPP</ion-title>

      <ion-icon name="person-circle" slot="end" size="large" class="ion-margin-end" routerLink="/perfil"></ion-icon>

    </ion-toolbar>
  </ion-header>
  <ion-content style="--background: #1a4066;">
    <!-- Botón "Atrás" en la esquina superior izquierda -->
    <ion-button fill="clear" color="warning" (click)="goBack()" style="position: fixed; top: 60px; left: 10px;">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Atrás
    </ion-button>
    <app-lista-alumno></app-lista-alumno>
    <!-- Contenido de la página -->
  </ion-content>