<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar style="--background: #f6cc26;">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding" style="--background: #1a4066;">
    
    <ion-list>
      <ion-item button routerLink="/asistencia">
        <ion-label>Ver asistencia</ion-label>
        <ion-icon name="today"></ion-icon>
      </ion-item>
      <ion-item button routerLink="/reportar">
        <ion-label>Reportar un problema</ion-label>
        <ion-icon name="alert-circle"></ion-icon>
      </ion-item>
      <ion-item button routerLink="/inicio">
        <ion-label>Cerrar Sesión</ion-label>
        <ion-icon name="log-out"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content" >
  <ion-header>
    <ion-toolbar style="--background: #f6cc26;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>RegistrAPP</ion-title>
      <ion-icon name="person-circle" slot="end" size="large" class="ion-margin-end" routerLink="/perfil"></ion-icon>
    </ion-toolbar>
  </ion-header>


  <ion-content>

    <div class="flex-center">
      <ion-content style="--background: #1a4066;">
        <br>
        <br>
        <ion-card>

          <ion-accordion-group>
            <ion-accordion value="first ">
              <ion-item slot="header" color="light">
                <ion-label>Asignatura 1 [porcentaje]</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Clases registradas: [numero] </div>
              <div class="ion-padding" slot="content">Asistencia: [numero]</div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-label>Asignatura 2 [porcentaje]</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Clases registradas: [numero]  </div>
              <div class="ion-padding" slot="content">Asistencia: [numero]</div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                <ion-label>Asignatura 3 [porcentaje]</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Clases registradas: [numero]</div>
              <div class="ion-padding" slot="content">Asistencia: [numero]</div>
            </ion-accordion>
            <ion-accordion value="fourth">
              <ion-item slot="header" color="light">
                <ion-label>Asignatura 4 [porcentaje]</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Clases registradas: [numero] </div>
              <div class="ion-padding" slot="content">Asistencia: [numero]</div>
            </ion-accordion>
            <ion-accordion value="fifth">
              <ion-item slot="header" color="light">
                <ion-label>Asignatura 5 [porcentaje]</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Clases registradas: [numero] </div>
              <div class="ion-padding" slot="content">Asistencia: [numero]</div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card>
        <ion-card-content>
          <ion-button color="warning" size="full" routerLink="/alumno">Volver a Escanear</ion-button>
        </ion-card-content>
      </ion-content>
      
    </div>
    <ion-button fill="clear" color="warning" (click)="goBack()" style="position: fixed; top: 60px; left: 10px;">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Atrás
    </ion-button>
  </ion-content>