<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="--background: #f6cc26;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>RegistrAPP</ion-title>
      <ion-icon name="person-circle" slot="end" size="large" class="ion-margin-end" routerLink="/perfil"></ion-icon>
    </ion-toolbar>

    <!-- Botón "Atrás" -->
    <ion-button fill="clear" color="warning" (click)="goBack()" style="position: fixed; top: 60px; left: 10px;">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Atrás
    </ion-button>
  </ion-header>

  <ion-content style="--background: #1a4066;" class="ion-padding">
    <div class="flex-center">
      <ion-card>
        <!-- Sección del historial de asistencias -->
        <ion-card-header>
          <ion-card-title>Historial de Asistencia</ion-card-title>
        </ion-card-header>


        <!-- Listado de asistencias -->
        <ion-list>
          <ion-item *ngFor="let asistencia of historialAsistencias">
            <ion-label>
              <h2 class="asistencia-date">{{ asistencia.fecha }} - {{ asistencia.hora }}</h2>
              <p>{{ usuario?.nombre }} - {{ asistencia.curso }}</p>
              <p class="institucion">{{ asistencia.institucion }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </ion-content>
</div>